<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto</title>
</head>

<body>
    <header class="container mt-4">
        <div class="container-fluid">
            <!-- BARRA NAVEGACIÓN -->
            <div class="bg-light">
                <nav class="navbar navbar-expand-md navbar-light bg-light border-3 border-bottom border-primary">
                    <div class="container-fluid">
                        <a href="#" class="navbar-brand">App Instituo</a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#MenuNavegacion">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div id="MenuNavegacion" class="collapse navbar-collapse" style="width: 50%;">
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/instituto/alumnos/listar">Alumnos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/instituto/profesores/listar">Profesores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/instituto/materias/listar"> Listado de materias</a>
                            </li>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container mt-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias fugiat, placeat praesentium sit necessitatibus modi culpa dignissimos magni reprehenderit! Eveniet nihil dolorem voluptates doloremque quidem, quaerat alias voluptatibus quod sequi?</p>
    </div>
</body>

</html>